body {
  background-image: url("../css/images/san_lytton_large.jpg");
  background-size: cover;
}

.fancy-btn{
  display:inline-block;
  position:relative;
  padding:10px 20px;
  border:2px solid #754200;
  color:#754200;
  font-size:25px; margin-top:0; color:#754200; font-weight:bold; font-family:Papyrus-Regular, Arial, Helvetica, sans-serif;;
  text-decoration:none;
  margin:20px auto;
  transition: color 0.4s
}
.fancy-btn:after{
  content:" ";
  border:2px solid rgba(0,0,0,0);
  display:inline-block;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  transition:all 0.4s;
}
.fancy-btn:hover{
  color:#eee
}
.fancy-btn:hover:after{  
  border:2px solid #754200;
  width: calc(100% - 10px);
  height: calc(100% + 10px); 
}